
/* body {
    color: white;
    background-color: black;
} */


.middle-Images {
    margin: 10px 10px;
}

.Images_middle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
;
}


.Images_middle img{
    /* max-width: 40vw;
    max-height: 40vh; */
    max-width: 150px; 
    max-height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

