.image-display {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 6vh 6vw;
}

.image-page {
    margin: 0 1vw;
}

.image-page img {
    max-width: 42vw; 
    max-height: 200px;
    border-radius: 12px;
}

.image-page h3 {
    font-size: 12px;
    text-transform: lowercase; 
}

.left {

    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.add-div{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.add-div a {
    background-color: rgb(0, 153, 255);
    border-radius: 50%;
    margin: 1vh 2vw;
}
